<th:block layout:decorate="~{layout/admin}">
  <th:block layout:fragment="style">
    <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  </th:block>
  <th:block layout:fragment="content">
    <form action="" method="POST">
      <h3 class="text-center">Cadastro de Livro</h3>
      <div class="form-outline mb-4">
        <label class="form-label" for="bookName">Titulo</label>
        <input type="text" id="bookName" class="form-control form-control-lg"  />
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="author">Autor</label>
        <input type="text" id="author" class="form-control form-control-lg"/>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="year">Ano</label>
        <input type="text" id="year" class="form-control form-control-lg"/>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="category">Categoria</label>
        <input type="text" id="category" class="form-control form-control-lg"/>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="publisher">Editora</label>
        <input type="text" id="publisher" class="form-control form-control-lg"/>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="edition">Edição</label>
        <input type="text" id="edition" class="form-control form-control-lg"/>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="isbn">Isbn</label>
        <input type="text" id="isbn" class="form-control form-control-lg"/>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="pageNumber">Páginas</label>
        <input type="text" id="pageNumber" class="form-control form-control-lg"/>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="synopsis">Sinopse</label>
        <input type="text" id="synopsis" class="form-control form-control-lg"/>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="dimensions">Dimensões</label>
        <input type="text" id="dimensions" class="form-control form-control-lg"/>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="pricingGroup">Grupo de Preços</label>
        <input type="text" id="pricingGroup" class="form-control form-control-lg"/>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="barCode">Código de Barras</label>
        <input type="text" id="barCode" class="form-control form-control-lg"/>
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
          Cadastrar Livro
        </button>
      </div>
    </form>
  </th:block>
  <th:block layout:fragment="script">
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/plugins/jszip/jszip.min.js"></script>
    <script src="/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

  </th:block>
</th:block>
