<th:block layout:decorate="~{layout/home}">
  <th:block layout:fragment="content">
    <br>
    <div class="product-box">
      <div class="product-minimal">
        <div class="product-showcase">

          <div class="showcase-wrapper has-scrollbar">
            <div class="showcase-container">
              <div class="showcase">
                <a href="#" class="showcase-img-box">
                  <img src="/img/labirinto.jpg"
                       alt="relaxed short full sleeve t-shirt" class="showcase-img"
                       width="70">
                </a>

                <div class="showcase-content">
                  <a href="#">
                    <h4 class="showcase-title">Labirinto do Fauno</h4>
                  </a>
                  <a href="#" class="showcase-category">Terror</a>

                  <div class="price-box">
                    <p class="price">$25.00</p>
                    <del>$50.00</del>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cart-summary" style="margin: 40px auto; width: 80%; background-color: #fff; padding: 20px; border: 1px solid #ddd;">
      <h3>Resumo do Carrinho</h3>
      <p>Itens no carrinho: <span>1</span></p>
      <p>Total: <strong>$25.00</strong></p>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
          Pagar
        </button>
      </div>
    </div>

  </th:block>
</th:block>