<th:block layout:decorate="~{layout/home}">
        <th:block layout:fragment="content">
        <div class="banner">
            <div class="container">
                <div class="slider-container has-scrollbar">
                    <div class="slider-item">
                        <img src="/img/Ordem.png" alt="women's latest fashion sale"
                             class="banner-img">
                    </div>

                    <div class="slider-item">
                        <img src="/img/DaggerHeart.png" alt="modern sunglasses"
                             class="banner-img">
                    </div>
                </div>
            </div>
        </div>

        <div class="product-container">
            <div class="container">
                <div class="sidebar has-scrollbar " data-mobile-menu>
                    <div class="sidebar-category">
                        <div class="sidebar-top">
                            <h2 class="sidebar-title">Categorias</h2>

                            <button class="sidebar-close-btn" data-mobile-menu-close-btn>
                                <ion-icon name="close-outline"></ion-icon>
                            </button>
                        </div>

                        <ul class="sidebar-menu-category-list">
                            <li class="sidebar-menu-category">
                                <button class="sidebar-accordion-menu" data-accordion-btn>
                                    <div class="menu-title-flex">
                                        <i class="fa-solid fa-book"></i>
                                        <p class="menu-title">Terror</p>
                                    </div>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="product-box">
                    <div class="product-main">
                        <h2 class="title">Produtos</h2>

                        <div class="product-grid">
                            <div class="showcase">
                                <div class="showcase-banner">
                                    <img src="/img/teste.jpg"
                                         alt="Mens Winter Leathers Jackets" class="product-img default" width="300">
                                    <img src="/img/teste.jpg"
                                         alt="Mens Winter Leathers Jackets" class="product-img hover" width="300">

                                    <!--<p class="showcase-badge">15%</p>
                                    <p class="showcase-badge angle black">Sale</p>
                                    <p class="showcase-badge angle pink">NEW</p> -->

                                    <div class="showcase-actions">
                                        <button class="btn-action">
                                            <ion-icon name="eye-outline"></ion-icon>
                                        </button>
                                        <button class="btn-action">
                                            <ion-icon name="repeat-outline"></ion-icon>
                                        </button>
                                        <button class="btn-action">
                                            <ion-icon name="bag-add-outline"></ion-icon>
                                        </button>
                                    </div>
                                </div>

                                <div class="showcase-content">
                                    <a href="#" class="showcase-category">Mistério</a>
                                    <a href="#">
                                        <h3 class="showcase-title">Mandibula de Caim</h3>
                                    </a>

                                    <div class="price-box">
                                        <p class="price">60,00</p>
                                        <!--<del>$75.00</del>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>