<div class="sidebar has-scrollbar " data-mobile-menu>
  <div class="sidebar-category">
    <div class="sidebar-top">
      <h2 class="sidebar-title">Perfil</h2>

      <button class="sidebar-close-btn" data-mobile-menu-close-btn>
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </div>

    <ul class="sidebar-menu-category-list">
      <li class="sidebar-menu-category">

        <a th:href="@{/perfil}" class="menu-title-flex">
          <p class="menu-title">Perfil</p>
        </a>

        <a th:href="@{/card}" class="menu-title-flex">
          <p class="menu-title">Cartão</p>
        </a>

        <a th:href="@{/address}" class="menu-title-flex">
          <p class="menu-title">Endereço</p>
        </a>

        <a th:href="@{/password}" class="menu-title-flex">
        <p class="menu-title">Alterar Senha</p>
        </a>

        <form onsubmit="showAlert(event)" method="post" action="#" th:action="@{/5}">
          <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>
          </button>
        </form>
      </li>
    </ul>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  function showAlert(e) {
    e.preventDefault();
    Swal.fire({
      title: "Deseja excluir conta?",
      text: "Isso será irreversível",
      showCancelButton: true,
      confirmButtonText: "Sim, excluir!",
      icon: "warning"
       }).then((result) => {
       if (result.isConfirmed) {
        e.target.submit();
        }
    });
  }
</script>