<footer>
    <div class="footer-nav">
        <div class="container">
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">Popular Categories</h2>
                </li>

                <li class="footer-nav-item"><a href="#" class="footer-nav-link">Terror</a></li>
                <li class="footer-nav-item"><a href="#" class="footer-nav-link">Fantasy</a></li>
                <li class="footer-nav-item"><a href="#" class="footer-nav-link">Mystery</a></li>
            </ul>

            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">Our Company</h2>
                </li>

                <li class="footer-nav-item"><a href="#" class="footer-nav-link">Delivery</a></li>
                <li class="footer-nav-item"><a href="#" class="footer-nav-link">Legal Notice</a></li>
                <li class="footer-nav-item"><a href="#" class="footer-nav-link">Terms and Conditions</a></li>
                <li class="footer-nav-item"><a href="#" class="footer-nav-link">About us</a></li>
                <li class="footer-nav-item"><a href="#" class="footer-nav-link">Secure Payment</a></li>
            </ul>

            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">Contact</h2>
                </li>

                <li class="footer-nav-item flex">
                    <div class="icon-box">
                        <ion-icon name="location-outline"></ion-icon>
                    </div>

                    <address class="content">
                        Mogi das Cruzes,
                        Sao Paulo(SP), 14812, BR
                    </address>
                </li>

                <li class="footer-nav-item flex">
                    <div class="icon-box">
                        <ion-icon name="call-outline"></ion-icon>
                    </div>

                    <a href="tel:+607936-8058" class="footer-nav-link">(11) 123-456789</a>
                </li>

                <li class="footer-nav-item flex">
                    <div class="icon-box">
                        <ion-icon name="mail-outline"></ion-icon>
                    </div>

                    <a href="mailto:example@gmail.com" class="footer-nav-link">example@gmail.com</a>
                </li>
            </ul>

            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">Follow Us</h2>
                </li>

                <li>
                    <ul class="social-link">
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </li>

                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>

                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">
                                <ion-icon name="logo-linkedin"></ion-icon>
                            </a>
                        </li>

                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">
                                <ion-icon name="logo-instagram"></ion-icon>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <img src="https://i.postimg.cc/43GKnVFF/payment.png" alt="payment method" class="payment-img">
            <p class="copyright">Copyright &copy; <a href="#">Anon</a> all rights reserved</p>
        </div>
    </div>
</footer>