<div class="modal fade" id="trocaSenhaModal" tabindex="-1" aria-labelledby="trocaSenhaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 15px;">
            <div class="modal-header">
                <h5 class="modal-title" id="trocaSenhaModalLabel">Trocar Senha</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">

                <form>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="senhaAtual">Senha Atual</label>
                        <input type="password" id="senhaAtual" class="form-control form-control-lg" />
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="novaSenha">Nova Senha</label>
                        <input type="password" id="novaSenha" class="form-control form-control-lg" />
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="repitaNovaSenha">Repita a Nova Senha</label>
                        <input type="password" id="repitaNovaSenha" class="form-control form-control-lg" />
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success btn-lg gradient-custom-4 text-body">
                            Confirmar Troca
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>